* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-me-image>img {
    height: 400px;
    width: 200px;

}

/* 1600px wide*/
header {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.skewed-background {
    background-color: rgb(62, 148, 228);
    width: 100%;
    height: 1100px;
    position: absolute;
    box-shadow: 20px 14px 15px 7px rgba(0, 0, 0, 0.1);
    transform: translateY(-45%) skewY(-10deg);
    top: 0;

}


.about-me {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1em;
    justify-content: center;
    z-index: 2;
}

.about-name {
    display: flex;
    z-index: 2;
    bottom: 20px;
    width: 100%;
    justify-content: center;
    color: white;
    font-size: 30px;

}

.about-me-image {
    background-color: red;
    max-width: 450px;
    height: 600px;
    background-image: url(./img/pexels-ahmet-1912620432-34225020.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    flex: 1 1 0;
    display: flex;
    align-items: end;
    box-shadow: 5px 6px 7px 3px rgba(0, 0, 0, 0.1);
}

.aboutme-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    flex: 1 1 0;
    background-color: rgb(245, 242, 242);
    min-height: 400px;
    box-shadow: 5px 6px 7px 3px rgba(0, 0, 0, 0.1);
}

.aboutme-content h1 {
    flex: 1 0 0;
    display: flex;
    align-items: center;
}

.aboutme-content p {
    flex: 1 0 0;
}

.social-links {
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
}


main {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 100px;

}

.projects-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.project {
    background-color: lightgray;
    height: 400px;
    flex: 1 0 30%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 6px 7px 3px rgba(0, 0, 0, 0.1);
}

.project-ss {
    color: white;
    flex: 2 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project:nth-child(1) {
    background-color: #d84545;
}

.project:nth-child(2) {
    background-color: #823ecc;
}

.project:nth-child(3) {
    background-color: #35c768;
}

.project:nth-child(4) {
    background-color: #2e6abf;
}

.project:nth-child(5) {
    background-color: #bf722e;
}

.project:nth-child(6) {
    background-color: #1b5fbe;
}

.project-description {
    background-color: rgb(249, 249, 249);
    flex: 1 0 40%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}



main h1 {
    margin-bottom: 20px;
}

footer {
    background-color: rgb(73, 120, 199);
    width: 100%;

    
    align-items: center;
    display: flex;
    padding: 50px 100px 50px 100px;
}

.footer-container {
    
    display: flex;
    height: 100%;
    width: 80%;

    justify-content: space-between;

}

.contact {
    color: white;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 0 50%;
}

.contact .social-links {
    justify-content: start;
}

.contact-image {
    flex: 1 0 75%;

    display: flex;
    justify-content: end;
    background-image: url(./img/pexels-catalin-todosia-876894548-34253873.jpg);
    background-size: cover;
    background-position: center;
}


@media (max-width: 1000px) {

    .about-me {
        display: flow;

    }

    .about-me-image {
        float: left;
        max-width: 400px;
        min-width: 400px;
        height: 500px;
        display: flex;
        align-items: start;
        right: -40px;
    }

    .about-name {
        display: flex;
        position: relative;
        z-index: 2;
        left: 260px;
        top: 10px;
        color: white;
        font-size: 30px;
    }

    .aboutme-content {

        align-items: center;
        justify-content: center;
        margin-top: 150px;
        display: flow;
    }

    .aboutme-content h1 {
        align-self: center;
    }
}

@media (max-width:700px) {

    header {
        height: 100%
    }

    .about-me {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .about-me-image {
        flex: 1 1 0;
        min-height: 600px;
    }

    .about-name {
        display: flex;
        z-index: 2;
        left: 0;
        top: 400px;
        color: white;
        font-size: 30px;
    }

    .aboutme-content {
        margin-top: 0;
        background-color: white;
        box-shadow: none;
    }

    footer {
        height: 100%;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .contact-image {
        flex: 1 1 450px;
        display: flex;
        justify-content: end;
        background-image: url(./img/pexels-catalin-todosia-876894548-34253873.jpg);
        background-size: cover;
        background-position: center;
    }
}