* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(73, 120, 199);
    width: 100%;
    height: 700px;
    overflow: hidden;


}

.white-background {
    background-color: white;
    width: 100%;
    height: 1500px;
    position: relative;
    box-shadow: inset 20px 1px 3px 2px rgba(0, 0, 0, 0.1);
    transform: translate(-140px) skewX(-70deg);
}

.about-me-image {
    background-color: red;
    top: 50px;
    left: 60px;
    width: 500px;
    height: 600px;
    position: absolute;
    z-index: 1;
    box-shadow: 5px 6px 7px 3px rgba(0, 0, 0, 0.1);

}

.about-name {
    display: flex;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    width: 100%;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.about-me {
    position: absolute;
    background-color: rgb(245, 242, 242);
    top: 120px;
    left: 560px;
    width: 900px;
    height: 450px;
    box-shadow: 5px 6px 7px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    font-size: 20px;
    justify-content: center;
}

.social-links {
    display: flex;
    justify-content: end;
    gap: 30px;
}

main {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 100px;

}

.projects-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.project {
    background-color: lightgray;
    height: 400px;
    flex: 1 0 30%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 6px 7px 3px rgba(0, 0, 0, 0.1);
}

.project-ss {
    color: white;
    flex: 2 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project:nth-child(1) {
    background-color: #d84545;
}

.project:nth-child(2) {
    background-color: #823ecc;
}

.project:nth-child(3) {
    background-color: #35c768;
}

.project:nth-child(4) {
    background-color: #2e6abf;
}

.project:nth-child(5) {
    background-color: #bf722e;
}

.project:nth-child(6) {
    background-color: #1b5fbe;
}

.project-description {
    background-color: rgb(249, 249, 249);
    flex: 1 0 40%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}



main h1 {
    margin-bottom: 20px;
}

footer {
    background-color: rgb(73, 120, 199);
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px 100px 50px 100px;
}

.footer-container {
    flex: 1 0 30%;
    display: flex;
    height: 100%;
    width: 80%;
    
    justify-content: space-between;

}

.contact {
    color: white;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact .social-links {
    justify-content: start;
}

.contact-image {
    flex: 1 0 70%;
    display: flex;
    justify-content: end;
}